@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/Circe\ Regular.eot");
  src: url("../assets/fonts/Circe\ Regular.eot?#iefix") format("embedded-opentype"),
   url("../assets/fonts/Circe\ Regular.otf") format("otf"),
   url("..//assets/fonts/Circe\ Regular.woff") format("woff"),
   url("../assets/fonts/Circe\ Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe Bold";
  src: url("../assets/fonts/Circe\ Bold.eot");
    src: url("../assets/fonts/Circe\ Bold.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/Circe\ Bold.otf") format("otf"),
      url("..//assets/fonts/Circe\ Bold.woff") format("woff"),
      url("../assets/fonts/Circe\ Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins.eot");
    src: url("../assets/fonts/Poppins.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/Poppins.otf") format("otf"),
      url("..//assets/fonts/Poppins.woff") format("woff"),
      url("../assets/fonts/Poppins.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins\ Bold.eot");
    src: url("../assets/fonts/Poppins\ Bold.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/Poppins\ Bold.otf") format("otf"),
      url("..//assets/fonts/Poppins\ Bold.woff") format("woff"),
      url("../assets/fonts/Poppins\ Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}